services:
  backend:
    build: 
      context: ./backend
    volumes:
      - ./backend:/app
      - /app/node_modules
    ports:
      - '5001:5001'
    environment:
      - PORT=5001
      - MONGO_URL=mongodb://mongo:27017/mydatabase
      - JWT_SECRET="${JWT_SECRET}"
    depends_on:
      - mongo

  frontend:
    build:
      context: ./frontend
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - '3000:3000'
    environment:
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      - backend

  mongo:
    image: mongo:6
    volumes:
      - mongo-data:/data/db
    ports:
      - '27017:27017'

  mongo-express:
    image: mongo-express
    restart: always
    ports:
      - '8081:8081'
    environment:
      - ME_CONFIG_MONGODB_SERVER=mongo
    depends_on:
      - mongo

volumes:
  mongo-data:
